body {
    font-family: 'MuseoModerno', cursive;
}

.container {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 325px;
    background-color: black;
    color: white;
}

img {
    width: 325px;
}

iframe {
    width: 325px;
    height: 125px;
}