body {
    font-family: 'MuseoModerno', cursive;
}

.container {
    display: block;
    text-align: center;
}

.contents{
    background-color: white;
}

.color-change {
    background-color: black;
    border: none;
    border-radius: 90%;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

img {
    width: 350px;
}

iframe {
    width: 350px;
    height: 175px;
}